.home-content__buttons
{
    border-color: 1px solid white;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px; /* Hide the sidebar initially */
    background-color: #111;
    padding-top: 20px;
    transition: 0.3s;
}

.sidebar.active {
    right: 0;
}

.sidebar h2 {
    color: white;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #444;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.content {
    margin-right: 20px;
    padding: 20px;
    transition: 0.3s;
}

.menu-bars {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.content.active {
    margin-right: 270px;
}
